* {
    margin: 0;
    padding: 0;
}


/* 888888888888888888888888888888  Header Part 8888888888888888888888888888888888 */

#badge {
    position: absolute;
    background-color: rgb(255, 30, 30);
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    top: 10px;
    right: 158px;
}

#Header-container {
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    /* font-family: 'Lato', sans-serif; */
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    /* position: fixed;
    top: 0 ; */
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#Logo {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

#Logo a {
    text-decoration: none;
    color: #03999e;
}

#Logo>b {
    font-weight: 900;
    font: #03999e;
}

#categories-items {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#categories-items a {
    text-decoration: none;
    color: #03999e;
}

.search {
    padding: 14px;
    /* color: gray; */
    color: #03999e;
    min-width: 25px;
    text-align: center;
    position: absolute;
}

.addedToCart {
    font-size: 1.5em;
    margin-right: 25px;
}

#user {
    display: flex;
    /* float: right; */
    align-items: center;
}

.userIcon {
    font-size: 45px;
}

#input {
    width: 35em;
    height: 3em;
    padding: 2px 50px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}

#input::placeholder {
    font-weight: bold;
}

#input:focus {
    outline: none;
}

#user a {
    color: #03999e;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px) {
    #categories-items {
        font-size: 13px;
    }

    #input {
        width: 25em;
    }
}

@media(max-width: 1212px) {
    #categories-items {
        font-size: 13px;
    }
    
    #input {
        width: 20em;
    }

    .addedToCart {
        font-size: 1.5em;
        margin: 10px 20px;
    }
}

@media(max-width: 1090px) {
    #Header-container {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }

    #search {
        display: none;
    }
}

@media(max-width: 750px) {
    #Logo {
        font-size: 28px;
    }

    #categories-items {
        font-size: 12px;
    }

    .userIcon {
        font-size: 35px;
    }

    .addedToCart {
        font-size: 1.2em;
        margin: 10px 20px;
    }
}

@media(max-width: 650px) {
    #Logo {
        font-size: 14px;
    }
    
    #categories-items {
        font-size: 10px;
    }

    .userIcon {
        font-size: 30px;
    }
}

@media(max-width: 550px) {
    #Header-container {
        padding: 20px 25px;
    }
}

/* badge media */

@media(max-width: 1480px) {
    #badge {
        right: 150px;
    }
}

@media(max-width: 1426px) {
    #badge {
        right: 142px;
    }
}

@media(max-width: 1360px) {
    #badge {
        right: 136px;
    }
}

@media(max-width: 1320px) {
    #badge {
        right: 129px;
    }
}

@media(max-width: 1259px) {
    #badge {
        right: 119px;
    }
}

@media(max-width: 1212px) {
    #badge {
        right: 96px;
    }
}

@media(max-width: 1155px) {
    #badge {
        right: 87px;
    }
}

@media(max-width: 1090px) {
    #badge {
        right: 119px;
    }
}

@media(max-width: 1030px) {
    #badge {
        right: 109px;
    }
}

@media(max-width: 970px) {
    #badge {
        right: 100px;
    }
}

@media(max-width: 910px) {
    #badge {
        right: 94px;
    }
}

@media(max-width: 850px) {
    #badge {
        right: 87px;
    }
}

@media(max-width: 750px) {
    #badge {
        right: 87px;
        padding: 3px 6px;
        font-size: 12px;
        top: 12px;
    }
}

@media(max-width: 650px) {
    #badge {
        right: 78px;
    }
}

@media(max-width: 550px) {
    #badge {
        right: 62px;
        top: 18px;
    }
}


/* 888888888888888888888888888888  Header Part 8888888888888888888888888888888888 */





/* 888888888888888888888888888  carousel part 8888888888888888888888888888888 */

#containerSlider {
    margin: auto;
    width: 90%;
    height: 530px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

#containerSlider img {
    width: 100%;
    /* height: 160%; */
    text-align: center;
    align-content: center;
}
#containerSlider img {
    height: 30em;
}

@media(max-width: 732px) {
    #containerSlider img {
        height: 12em;
    }
}

@media(max-width: 500px) {
    #containerSlider img {
        height: 15em;
    }

    #containerSlider {
        margin: auto;
        width: 90%;
        text-align: center;
        padding-top: 20px;
        height: 268px;
        box-sizing: border-box;
    }
}

/* 888888888888888888888888888  carousel part 8888888888888888888888888888888 */




/* 88888888888888888888888888  Product Part  88888888888888888888888888888888 */



#mainContainer h1
{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
    color: #03999e;
}
#clothing-container,
 #home-image-container,
 #home-image-best-buy,
 #home-image-brand
{
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
.box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
.box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}


#clothing-container img,
 #home-image-container img,
 #home-image-best-buy img,
 #home-image-brand img
{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
.box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#details h3
{
    font-size: 16px;
    margin: 10px 0;
}
#details h4
{
    font-weight: 100;
    margin: 10px 0;
}
#details h2
{
    color: rgb(3, 94, 94);
    margin: 10px 0;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1070px)
{
    #mainContainer h1
    {
        font-size: 25px;
    }
    #clothing-container, 
    #home-image-container,
    #home-image-best-buy,
    #home-image-brand
    {
        width: 95%;
        grid-gap: 10px;
    }
}
@media(max-width: 850px)
{
    #mainContainer h1
    {
        width: 80%;
    }
    #clothing-container,
     #home-image-container,
     #home-image-best-buy,
     #home-image-brand
    {
        display: grid;
        grid-gap: 32px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}
@media(max-width: 650px)
{
    #mainContainer h1
    {
        font-size: 20px;
        width: 90%;
    }
    #clothing-container,
     #home-image-container,
     #home-image-best-buy,
     #home-image-brand
    {
        width: 90%;
    }
}
@media(max-width: 600px)
{
    #mainContainer h1 
    {
        width: 70%;
    }
    #clothing-container,
     #home-image-container,
     #home-image-best-buy,
     #home-image-brand
    {
        width: 70%;
    }
}
@media(max-width: 505px)
{
    #mainContainer h1
    {
        width: 80%;
    }
    #clothing-container,
     #home-image-container,
     #home-image-best-buy,
     #home-image-brand
    {
        width: 93%;
        grid-template-columns: repeat(2, 1fr);
    }
    #clothing-container img,
     #home-image-container img,
     #home-image-best-buy img,
     #home-image-brand img
    {
        width: 100%;
        height: 173px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #details h3{
        width: 124px;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
}

/* 88888888888888888888888888  Product Part  88888888888888888888888888888888 */


/* 88888888888888888888888888  Product details 8888888888888888888888888888 */


.pro-details-container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 50%;
    /* position: relative; */
  }
   
  .right-column {
    width: 50%;
    margin-top: 30px;
  }

  .left-column img {
    width: 400px;
    height: 500px;
    margin-left: 50px;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 15px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

.pro-rating {
    margin: 20px 0px ;
    /* padding: 10px 15px; */
    /* background-color: #03999e; */
  }
  .pro-rating span{
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #03999e;
  }

  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description h3 {
    font-weight: 300;
    font-size: 22px;
    margin: 10px 0px;
    color: #03999e;
    /* letter-spacing: 1px; */
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  .size-choose {
    margin-bottom: 20px;
    margin-top: 10px;
  }
   
  .size-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
   
  .size-choose button:hover,
  .size-choose button:active,
  .size-choose button:focus {
    border: 2px solid #03999e;
    outline: none;
  }
   
  .size-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }

   
  .size-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .size-config a:before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #03999e;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }



  .product-price {
    display: flex;
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  .product-price button {
    color: #fff;
    border: none;
  }


   
  .cart-btn {
    display: inline-block;
    background-color: #03999e;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #047a7e;
  }


  @media (max-width: 940px) {
    .pro-details-container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {

    .pro-details-container {
        flex-direction: column;
        margin-top: 20px;
      }

      .right-column{
        margin-top: 20px;
      }

    .left-column img {
      width: 100%;
      height: 400px;
      margin-left: 0;
    }
    .product-description{
        position: relative;
    }
    .pro-rating{
        position: absolute;
        right: 25px;
        top: -22px;
    }
    .product-description h1 {
        font-weight: 300;
        font-size: 33px;
        margin-top: 10px;
        color: #43484D;
        letter-spacing: 0px;
    }


  }

/* 88888888888888888888888888  Product details 8888888888888888888888888888 */




/* 88888888888888888888888888  preloader style 8888888888888888888888888888888888888 */


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#preloader:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-top-color: #03999e;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/* 88888888888888888888888888  preloader style 8888888888888888888888888888888888888 */
